<section class="master-solon">
    <div class="container">
        <h2 class="master-solon__title title gold">Мастера салона</h2>
        <div class="master-solon__item-card --big flex">
            <div class="master-solon__item-box-img">
                <div class="master-solon__item-img">
                    <img src="img/master-item-1.webp" alt="Директор">
                </div>
                <h3 class="master-solon__item-img-title">Мишина Ксения</h3>
                <p class="master-solon__item-img-subtitle gold">Создатель</p>
            </div>
            <div class="master-solon__item-box-info">
                <h3 class="master-solon__item-info-title gold">почему мы так уверены
                    в том, что вам у нас понравится</h3>
                <p class="master-solon__item-info-text">Уже при открытии студии была поставлена совершенно
                    определенная цель: стать лучшими в своей области. И эта цель была достигнута. Креативные коллекции,
                    разработанные командой студии под руководством Ксении Мишиной, неоднократно удостаивались Гран-При
                    фестивалей и конкурсов парикмахерского искусства, проводимых в г.Москва.</p>
            </div>
        </div>

        <div class="master-solon__wpapper flex --just-space">

            <div class="master-solon__item">
                <div class="master-solon__item-card">
                    <div class="master-solon__item-box-img">
                        <div class="master-solon__item-img">
                            <img src="img/master-item-1.webp" alt="Мастер">
                        </div>
                        <h3 class="master-solon__item-img-title">Мишина Ксения</h3>
                        <p class="master-solon__item-img-subtitle gold">Стилист</p>
                        <p class="master-solon__item-img-text">Стилист-парикмахер Ксения с удовольствием сделает Вам
                            любую
                            укладку.</p>
                    </div>
                    <div class="master-solon__item-box-info">
                        <h3 class="master-solon__item-info-title gold">почему мы так уверены
                            в том, что вам у нас понравится</h3>
                        <p class="master-solon__item-info-text">Уже при открытии студии была поставлена совершенно
                            определенная цель: стать лучшими в своей области. И эта цель была достигнута. Креативные
                            коллекции,
                            разработанные командой студии под руководством Ксении Мишиной, неоднократно удостаивались
                            Гран-При
                            фестивалей и конкурсов парикмахерского искусства, проводимых в г.Москва.</p>
                    </div>

                </div>
            </div>

            <div class="master-solon__item">
                <div class="master-solon__item-card">
                    <div class="master-solon__item-box-img">
                        <div class="master-solon__item-img">
                            <img src="img/master-item-2.webp" alt="Мастер">
                        </div>
                        <h3 class="master-solon__item-img-title">Майкова Мария</h3>
                        <p class="master-solon__item-img-subtitle gold">Топ-стилист</p>
                        <p class="master-solon__item-img-text">Стилист-парикмахер Мария с удовольствием сделает Вам
                            любую
                            укладку.</p>
                    </div>
                    <div class="master-solon__item-box-info">
                        <h3 class="master-solon__item-info-title gold">почему мы так уверены
                            в том, что вам у нас понравится</h3>
                        <p class="master-solon__item-info-text">Уже при открытии студии была поставлена совершенно
                            определенная цель: стать лучшими в своей области. И эта цель была достигнута. Креативные
                            коллекции,
                            разработанные командой студии под руководством Ксении Мишиной, неоднократно удостаивались
                            Гран-При
                            фестивалей и конкурсов парикмахерского искусства, проводимых в г.Москва.</p>
                    </div>

                </div>
            </div>
            
            <div class="master-solon__item">
                <div class="master-solon__item-card">
                    <div class="master-solon__item-box-img">
                        <div class="master-solon__item-img">
                            <img src="img/master-item-3.webp" alt="Мастер">
                        </div>
                        <h3 class="master-solon__item-img-title">Брошина Ирина</h3>
                        <p class="master-solon__item-img-subtitle gold">Топ-стилист</p>
                        <p class="master-solon__item-img-text">Стилист-парикмахер Мария с удовольствием сделает Вам
                            любую
                            укладку.</p>
                    </div>
                    <div class="master-solon__item-box-info">
                        <h3 class="master-solon__item-info-title gold">почему мы так уверены
                            в том, что вам у нас понравится</h3>
                        <p class="master-solon__item-info-text">Уже при открытии студии была поставлена совершенно
                            определенная цель: стать лучшими в своей области. И эта цель была достигнута. Креативные
                            коллекции,
                            разработанные командой студии под руководством Ксении Мишиной, неоднократно удостаивались
                            Гран-При
                            фестивалей и конкурсов парикмахерского искусства, проводимых в г.Москва.</p>
                    </div>

                </div>
            </div>
            
            <div class="master-solon__item">
                <div class="master-solon__item-card">
                    <div class="master-solon__item-box-img">
                        <div class="master-solon__item-img">
                            <img src="img/master-item-4.webp" alt="Мастер">
                        </div>
                        <h3 class="master-solon__item-img-title">Кирова Нина</h3>
                        <p class="master-solon__item-img-subtitle gold">Мастер макикюра/педикюра</p>
                        <p class="master-solon__item-img-text">Один из ведущих мастеров нашего Салона.</p>
                    </div>
                    <div class="master-solon__item-box-info">
                        <h3 class="master-solon__item-info-title gold">почему мы так уверены
                            в том, что вам у нас понравится</h3>
                        <p class="master-solon__item-info-text">Уже при открытии студии была поставлена совершенно
                            определенная цель: стать лучшими в своей области. И эта цель была достигнута. Креативные
                            коллекции,
                            разработанные командой студии под руководством Ксении Мишиной, неоднократно удостаивались
                            Гран-При
                            фестивалей и конкурсов парикмахерского искусства, проводимых в г.Москва.</p>
                    </div>

                </div>
            </div>
            
            <div class="master-solon__item">
                <div class="master-solon__item-card">
                    <div class="master-solon__item-box-img">
                        <div class="master-solon__item-img">
                            <img src="img/master-item-5.webp" alt="Мастер">
                        </div>
                        <h3 class="master-solon__item-img-title">Костюк Ирина</h3>
                        <p class="master-solon__item-img-subtitle gold">Мастер макикюра/педикюра</p>
                        <p class="master-solon__item-img-text">Один из ведущих мастеров нашего Салона.</p>
                    </div>
                    <div class="master-solon__item-box-info">
                        <h3 class="master-solon__item-info-title gold">почему мы так уверены
                            в том, что вам у нас понравится</h3>
                        <p class="master-solon__item-info-text">Уже при открытии студии была поставлена совершенно
                            определенная цель: стать лучшими в своей области. И эта цель была достигнута. Креативные
                            коллекции,
                            разработанные командой студии под руководством Ксении Мишиной, неоднократно удостаивались
                            Гран-При
                            фестивалей и конкурсов парикмахерского искусства, проводимых в г.Москва.</p>
                    </div>

                </div>
            </div>
            
            <div class="master-solon__item">
                <div class="master-solon__item-card">
                    <div class="master-solon__item-box-img">
                        <div class="master-solon__item-img">
                            <img src="img/master-item-6.webp" alt="Мастер">
                        </div>
                        <h3 class="master-solon__item-img-title">Гаврилюк Анна</h3>
                        <p class="master-solon__item-img-subtitle gold">Мастер макикюра/педикюра</p>
                        <p class="master-solon__item-img-text">Один из ведущих мастеров нашего Салона.</p>
                    </div>
                    <div class="master-solon__item-box-info">
                        <h3 class="master-solon__item-info-title gold">почему мы так уверены
                            в том, что вам у нас понравится</h3>
                        <p class="master-solon__item-info-text">Уже при открытии студии была поставлена совершенно
                            определенная цель: стать лучшими в своей области. И эта цель была достигнута. Креативные
                            коллекции,
                            разработанные командой студии под руководством Ксении Мишиной, неоднократно удостаивались
                            Гран-При
                            фестивалей и конкурсов парикмахерского искусства, проводимых в г.Москва.</p>
                    </div>

                </div>
            </div>
            
            <div class="master-solon__item">
                <div class="master-solon__item-card">
                    <div class="master-solon__item-box-img">
                        <div class="master-solon__item-img">
                            <img src="img/master-item-7.webp" alt="Мастер">
                        </div>
                        <h3 class="master-solon__item-img-title">Лазарева Кристина</h3>
                        <p class="master-solon__item-img-subtitle gold">Врач-косметолог</p>
                        <p class="master-solon__item-img-text">Один из ведущих мастеров нашего Салона.</p>
                    </div>
                    <div class="master-solon__item-box-info">
                        <h3 class="master-solon__item-info-title gold">почему мы так уверены
                            в том, что вам у нас понравится</h3>
                        <p class="master-solon__item-info-text">Уже при открытии студии была поставлена совершенно
                            определенная цель: стать лучшими в своей области. И эта цель была достигнута. Креативные
                            коллекции,
                            разработанные командой студии под руководством Ксении Мишиной, неоднократно удостаивались
                            Гран-При
                            фестивалей и конкурсов парикмахерского искусства, проводимых в г.Москва.</p>
                    </div>

                </div>
            </div>
            
            <div class="master-solon__item">
                <div class="master-solon__item-card">
                    <div class="master-solon__item-box-img">
                        <div class="master-solon__item-img">
                            <img src="img/master-item-8.webp" alt="Мастер">
                        </div>
                        <h3 class="master-solon__item-img-title">Аксенова Людмила</h3>
                        <p class="master-solon__item-img-subtitle gold">Мастер по наращиванию</p>
                        <p class="master-solon__item-img-text">Один из ведущих мастеров нашего Салона.</p>
                    </div>
                    <div class="master-solon__item-box-info">
                        <h3 class="master-solon__item-info-title gold">почему мы так уверены
                            в том, что вам у нас понравится</h3>
                        <p class="master-solon__item-info-text">Уже при открытии студии была поставлена совершенно
                            определенная цель: стать лучшими в своей области. И эта цель была достигнута. Креативные
                            коллекции,
                            разработанные командой студии под руководством Ксении Мишиной, неоднократно удостаивались
                            Гран-При
                            фестивалей и конкурсов парикмахерского искусства, проводимых в г.Москва.</p>
                    </div>

                </div>
            </div>
            
            <div class="master-solon__item">
                <div class="master-solon__item-card">
                    <div class="master-solon__item-box-img">
                        <div class="master-solon__item-img">
                            <img src="img/master-item-9.webp" alt="Мастер">
                        </div>
                        <h3 class="master-solon__item-img-title">Василенко Милана</h3>
                        <p class="master-solon__item-img-subtitle gold">Мастер по наращиванию</p>
                        <p class="master-solon__item-img-text">Один из ведущих мастеров нашего Салона..</p>
                    </div>
                    <div class="master-solon__item-box-info">
                        <h3 class="master-solon__item-info-title gold">почему мы так уверены
                            в том, что вам у нас понравится</h3>
                        <p class="master-solon__item-info-text">Уже при открытии студии была поставлена совершенно
                            определенная цель: стать лучшими в своей области. И эта цель была достигнута. Креативные
                            коллекции,
                            разработанные командой студии под руководством Ксении Мишиной, неоднократно удостаивались
                            Гран-При
                            фестивалей и конкурсов парикмахерского искусства, проводимых в г.Москва.</p>
                    </div>

                </div>
            </div>
            
            <div class="master-solon__item">
                <div class="master-solon__item-card">
                    <div class="master-solon__item-box-img">
                        <div class="master-solon__item-img">
                            <img src="img/master-item-10.webp" alt="Мастер">
                        </div>
                        <h3 class="master-solon__item-img-title">Бондоренко Наталья</h3>
                        <p class="master-solon__item-img-subtitle gold">Визажист</p>
                        <p class="master-solon__item-img-text">Один из ведущих мастеров нашего Салона.</p>
                    </div>
                    <div class="master-solon__item-box-info">
                        <h3 class="master-solon__item-info-title gold">почему мы так уверены
                            в том, что вам у нас понравится</h3>
                        <p class="master-solon__item-info-text">Уже при открытии студии была поставлена совершенно
                            определенная цель: стать лучшими в своей области. И эта цель была достигнута. Креативные
                            коллекции,
                            разработанные командой студии под руководством Ксении Мишиной, неоднократно удостаивались
                            Гран-При
                            фестивалей и конкурсов парикмахерского искусства, проводимых в г.Москва.</p>
                    </div>

                </div>
            </div>
            
            <div class="master-solon__item">
                <div class="master-solon__item-card">
                    <div class="master-solon__item-box-img">
                        <div class="master-solon__item-img">
                            <img src="img/master-item-11.webp" alt="Директор">
                        </div>
                        <h3 class="master-solon__item-img-title">Литва Анастасия</h3>
                        <p class="master-solon__item-img-subtitle gold">Мастер эпиляции</p>
                        <p class="master-solon__item-img-text">Один из ведущих мастеров нашего Салона.</p>
                    </div>
                    <div class="master-solon__item-box-info">
                        <h3 class="master-solon__item-info-title gold">почему мы так уверены
                            в том, что вам у нас понравится</h3>
                        <p class="master-solon__item-info-text">Уже при открытии студии была поставлена совершенно
                            определенная цель: стать лучшими в своей области. И эта цель была достигнута. Креативные
                            коллекции,
                            разработанные командой студии под руководством Ксении Мишиной, неоднократно удостаивались
                            Гран-При
                            фестивалей и конкурсов парикмахерского искусства, проводимых в г.Москва.</p>
                    </div>

                </div>
            </div>
            
        </div>
</section>