<section class="advantages">
    <div class="container">
        <h2 class="advantages__title title gold">Преймущества салоного маникюра</h2>
        <ul class="advantages__list reset">
            <li class="advantages__item">Экономия времени на процедуре: дома качественое выполнение процедуры займет больше времени;</li>
            <li class="advantages__item">Избежание ненужных травм ногтевой пластины и боковых валиков, которые можно нанести;</li>
            <li class="advantages__item">Увиличение длительности эффекта от маникюра - красивые и ухоженные пальчики;</li>
            <li class="advantages__item">Обеспечение своим ногтям покрытие из качественых материалов, причем цвет и рисунок любой;</li>
            <li class="advantages__item">Избежание дефектов покрытия: пузырьков, сколов и отслоение лака;</li>
        </ul>
    </div>
</section>