<section class="questions">
    <div class="container">
        <h2 class="questions__title title gold">Часто задаваемые вопросы</h2>
        <div class="questions__wrapper flex --just-space">
            <details class="questions__item">
                <summary class="questions__item-title --svg__down-after">Почему печёт ногти в лампе?</summary>
                <div class="content">
                    <p class="questions__item-text">
                        Когда мы помещаем руку в УФ лампу, то покрытие начинает переходить из гелеобразного состояние в
                        твердое. При этом выделяется тепло, которое и «печет» наши ногти.
                    </p>
                </div>
            </details>
            <details class="questions__item">
                <summary class="questions__item-title --svg__down-after">Сколько держится гель-лак?</summary>
                <div class="content">
                    <p class="questions__item-text">
                        Примерный срок составляет 2 недели. Это период, в который при условии соблюдения правил
                        нанесения, покрытие не будет деформироваться, покрыться трещинами, изменять цвет. Специалисты
                        утверждают, что не рекомендуется иметь на ногтях гелевое покрытие больше двух недель.
                    </p>
                </div>
            </details>
            <details class="questions__item">
                <summary class="questions__item-title --svg__down-after">Как мы обрабатываем инструменты?
                </summary>
                <div class="content">
                    <p class="questions__item-text">
                        Инструменты проходят 3х ступенчатую обработку, первым делом они обрабатываются в растворе, затем
                        промываются и очищаются под проточной водой, убираются в индивидуальные крафт пакеты, кладутся в
                        сухожар, а после сухожара хранятся в бактерицидной камере.

                    </p>
                </div>
            </details>
            <details class="questions__item">
                <summary class="questions__item-title --svg__down-after">Зачем делать выравнивание?
                </summary>
                <div class="content">
                    <p class="questions__item-text">
                        Скрывает дефекты ногтя(после травмы или пропилов)<br>
                        Ноготь становится гладким и плотным.<br>
                        Покрытие гель-лаком ложится ровнее и красивее выглядит.<br>
                        Восстанавливается правильная архитектура ногтя.<br>
                        Ногти перестают ломаться
                    </p>
                </div>
            </details>
            <details class="questions__item">
                <summary class="questions__item-title --svg__down-after">Зачем наносить праймер?
                </summary>
                <div class="content">
                    <p class="questions__item-text">
                        Праймер – это средство для ногтей, как правило, жидкой текстуры, которое очищает, обезжиривает и подсушивает ногтевую пластину, при этом не создает отдельное покрытие.
                    </p>
                </div>
            </details>
            <details class="questions__item">
                <summary class="questions__item-title --svg__down-after">Почему печёт ногти в лампе?</summary>
                <div class="content">
                    <p class="questions__item-text">
                        Электрическая пилка - это эффективное и безопасный инструмент для подпиливания ногтей. Она не
                        может
                        являтся причиной повреждения ногтевых пластин. Электрическая пилка призвана упростить процесс
                        маникюра,
                        однако перед ее использованием необходимо ознакомится с инструкцией.
                    </p>
                </div>
            </details>
        </div>
    </div>
</section>