<section class="services-reviews">
    <div class="container">
        <h2 class="services-reviews__title title gold">Отзывы клиентов об услуге маникюра нашем салоне</h2>
        <div class="services-reviews__item">
            <div class="services-reviews__box-img">
                <img src="img/services_autor_1.webp" alt="Автор">
            </div>
            <p class="services-reviews__text">А вчера мне навели лоск в салоне BONBINO
                В восторге от качества услуг, оперативной работы, доброжелательных сотрудников и удобного расположения на ул. Березинская</p>
            <span class="services-reviews__autor">Маша Андреева</span>
        </div>
        <div class="services-reviews__item">
            <div class="services-reviews__box-img">
                <img src="img/services_autor_2.webp" alt="Автор">
            </div>
            <p class="services-reviews__text">Спасибо моему любимому салону BONBINO в 2 руки сделали маникюр всего за 1 час. Прекрасный маникюр, который продержался 3 недели просто замечательно. Осталась очень довольна. Всем рекомендую.</p>
            <span class="services-reviews__autor">Алина Петренко</span>
        </div>
    </div>
</section>