<section class="services-home">
    <div class="container">
        <h2 class="services-home__title title gold">Цены на маникюр</h2>
        <div class="services-home__container swiper-container">
            <div class="services-home__wrapper swiper-wrapper">
                <div class="services-home__item swiper-slide flex">
                    <div class="services-home__item-img">
                        <img src="img/portfolio-item-1.webp" alt="маникюр">
                        <span class="services-home__item-procent">5%</span>
                    </div>
                    <div class="services-home__item-info flex">
                        <div class="services-home__item-text">
                            <span class="db">Скидка 5%</span>на первое посещение
                        </div>
                        <a href="#" class="services-home__item-btn btn">Записаться онлайн</a>
                    </div>
                </div>
                <div class="services-home__item swiper-slide flex">
                    <div class="services-home__item-img">
                        <img src="img/manicure_home.webp" alt="маникюр">
                        <span class="services-home__item-procent">10%</span>
                    </div>
                    <div class="services-home__item-info flex">
                        <div class="services-home__item-text">
                            При покупке абонемента на
                            3,5,7 процедур <span>скидка 10%</span> BONBINO
                        </div>
                        <a href="#" class="services-home__item-btn btn">Записаться онлайн</a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>