<section class="varieties">
    <div class="container">
        <h2 class="varieties__title title gold">Разновидности ногтевого сервиса</h2>
        <div class="varieties__item flex">
            <div class="varieties__item-info">
                <h3 class="varieties__item-tilte gold">Классический маникюр <span>1300р</span></h3>
                <p class="varieties__item-text">Классический или обрезной маникюр является наиболее распространенным
                    видом маникюра в нашей стране. Первым делом, до замачивания, ногтям придают желаемую форму с помощью
                    пилок. Процедура ни в коем случае не должна
                    проводиться на влажных ногтях — это может привести к их расслаиванию.
                    Без покрытия, снятия лака включено в стоимость.
                    Продолжительность услуги 30 минут.</p>
                <a href="#" class="varieties__item-btn btn">Записаться</a>
            </div>
            <div class="varieties__item-slider swiper-container">
                <div class="varieties__item-wrapper swiper-wrapper">
                    <div class="varieties__slide-item swiper-slide">
                        <img src="img/varieties_img_1.webp" alt="Классический маникюр">
                    </div>
                    <div class="varieties__slide-item swiper-slide">
                        <img src="img/varieties_img_2.webp" alt="Классический маникюр">
                    </div>
                </div>
                <div class="swiper-navigation">
                    <div class="atmosphere__next"></div>
                    <div class="atmosphere__prew"></div>
                </div>
            </div>
        </div>
        <div class="varieties__item flex">
            <div class="varieties__item-info">
                <h3 class="varieties__item-tilte gold">Аппаратный маникюр <span>2000р</span></h3>
                <p class="varieties__item-text">Классический или обрезной маникюр является наиболее распространенным
                    видом маникюра в нашей стране. Первым делом, до замачивания, ногтям придают желаемую форму с помощью
                    пилок. Процедура ни в коем случае не должна
                    проводиться на влажных ногтях — это может привести к их расслаиванию.
                    Без покрытия, снятия лака включено в стоимость.
                    Продолжительность услуги 30 минут.</p>
                <a href="#" class="varieties__item-btn btn">Записаться</a>
            </div>
            <div class="varieties__item-slider swiper-container">
                <div class="varieties__item-wrapper swiper-wrapper">
                    <div class="varieties__slide-item swiper-slide">
                        <img src="img/varieties_img_3.webp" alt="Аппаратный маникюр">
                    </div>
                    <div class="varieties__slide-item swiper-slide">
                        <img src="img/varieties_img_4.webp" alt="Аппаратный маникюр">
                    </div>
                </div>
                <div class="swiper-navigation">
                    <div class="atmosphere__next"></div>
                    <div class="atmosphere__prew"></div>
                </div>
            </div>
        </div>
        <div class="varieties__item flex">
            <div class="varieties__item-info">
                <h3 class="varieties__item-tilte gold">Французский маникюр <span>2500р</span></h3>
                <p class="varieties__item-text">Классический или обрезной маникюр является наиболее распространенным
                    видом маникюра в нашей стране. Первым делом, до замачивания, ногтям придают желаемую форму с помощью
                    пилок. Процедура ни в коем случае не должна
                    проводиться на влажных ногтях — это может привести к их расслаиванию.
                    Без покрытия, снятия лака включено в стоимость.
                    Продолжительность услуги 30 минут.</p>
                <a href="#" class="varieties__item-btn btn">Записаться</a>
            </div>
            <div class="varieties__item-slider swiper-container">
                <div class="varieties__item-wrapper swiper-wrapper">
                    <div class="varieties__slide-item swiper-slide">
                        <img src="img/varieties_img_5.webp" alt="Французский маникюр">
                    </div>
                    <div class="varieties__slide-item swiper-slide">
                        <img src="img/varieties_img_6.webp" alt="Французский маникюр">
                    </div>
                </div>
                <div class="swiper-navigation">
                    <div class="atmosphere__next"></div>
                    <div class="atmosphere__prew"></div>
                </div>
            </div>
        </div>
        <div class="varieties__item flex">
            <div class="varieties__item-info">
                <h3 class="varieties__item-tilte gold">Европейский маникюр <span>1400р</span></h3>
                <p class="varieties__item-text">Европейский маникюр, таким образом сохраняет то, что создала природа,
                    т.е. кожу вокруг ногтя, рекомендуется людям с тонкой, нежной кутикулой.
                    На огрубевшую кожу вокруг ногтевой пластины наносится жидкость для удаления кутикулы. Затем
                    апельсиновой палочкой кутикула аккуратно отодвигается.
                    Без покрытия, снятия лака включено в стоимость.
                    Продолжительность услуги 40 минут.</p>
                <a href="#" class="varieties__item-btn btn">Записаться</a>
            </div>
            <div class="varieties__item-slider swiper-container">
                <div class="varieties__item-wrapper swiper-wrapper">
                    <div class="varieties__slide-item swiper-slide">
                        <img src="img/varieties_img_7.webp" alt="Европейский маникюр">
                    </div>
                    <div class="varieties__slide-item swiper-slide">
                        <img src="img/varieties_img_8.webp" alt="Европейский маникюр">
                    </div>
                </div>
                <div class="swiper-navigation">
                    <div class="atmosphere__next"></div>
                    <div class="atmosphere__prew"></div>
                </div>
            </div>
        </div>
        <div class="varieties__item flex">
            <div class="varieties__item-info">
                <h3 class="varieties__item-tilte gold">Покрытие гель-лаком <span>900р</span></h3>
                <p class="varieties__item-text">Гель-лак OPI – это стойкое, невероятно красивое декоративное покрытие
                    для ногтей, которое будет радовать Вас неделями. Огромный выбор оттенков просто поражает
                    воображение. Лаки OPI от нежных пастельных тонов до насыщенных роковых оттенков широко представлены
                    в салоне BONBINO.
                    Стойкое покрытие до 4 недель.
                    Продолжительность услуги 30 минут.</p>
                <a href="#" class="varieties__item-btn btn">Записаться</a>
            </div>
            <div class="varieties__item-slider swiper-container">
                <div class="varieties__item-wrapper swiper-wrapper">
                    <div class="varieties__slide-item swiper-slide">
                        <img src="img/varieties_img_9.webp" alt="Покрытие гель-лаком">
                    </div>
                    <div class="varieties__slide-item swiper-slide">
                        <img src="img/varieties_img_10.webp" alt="Покрытие гель-лаком">
                    </div>
                </div>
                <div class="swiper-navigation">
                    <div class="atmosphere__next"></div>
                    <div class="atmosphere__prew"></div>
                </div>
            </div>
        </div>
        <div class="varieties__text">Правильный уход и хороший профессиональный маникюр - позволяет не только привести в
            порядок ногти, но и увлажнить кожу, решить вопрос с заусенцами, или устранить более серьезные проблемы –
            такие, как, например, вросший ноготь. Холеные красивые руки станут Вашей второй визитной карточкой.</div>
    </div>
</section>