<section class="form-portfolio">
    <div class="container">

        <h2 class="form-portfolio__title title">Хотите поситеть наши процедуры? Записывайтесь!</h2>
        <p class="form-portfolio__sub-title">Заполните форму заявки и запишитесь  
            в удобное для Вас время</p>

        <form action="#" class="form-portfolio__form flex --just-space">

            <input class="form-portfolio__input" type="tel" placeholder="+7 (_ _ _) _ _ _-_ _-_ _">

            <input class="form-portfolio__input" type="text" placeholder="К какому мастеру">

            <button class="form-portfolio__btn btn" type="submit">Записаться</button>

            <label class="form__lable" for="check-form">

                <input class="form__checkbox" type="checkbox" id="check-form" required>
                <span class="form__checkbox-style"></span>
                Я принимаю условия 
                <a class="form__lable-link" href="#">передачи информации</a>

            </label>
        </form>
    </div>
</section>