<section class="portfolio">
    <div class="container">
        <h2 class="portfolio__title title gold">Наше портфолио работ</h2>
        <p class="portfolio__text">У нас в команде самые талантливые мастера, которые предложат готовые варианты маникюра, сделают идеальные брови или реализуют ваши идеи</p>
        <div class="portfolio__wrapper flex --just-space">
            <div class="portfolio__item">
                <div class="portfolio__box-img">
                    <a data-fslightbox="gallery-3" href="img/portfolio-item-1.webp">
                        <img class="portfolio__img" src="img/portfolio-item-1.webp" alt="Мастер">
                    </a>
                </div>
                <div class="portfolio__name">Мастер Нина</div>
                <div class="portfolio__work gold">Маникюр</div>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__box-img">
                    <a data-fslightbox="gallery-3" href="img/portfolio-item-2.webp">
                        <img class="portfolio__img" src="img/portfolio-item-2.webp" alt="Мастер">
                    </a>
                </div>
                <div class="portfolio__name">Мастер Ксения</div>
                <div class="portfolio__work gold">Визаж</div>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__box-img">
                    <a data-fslightbox="gallery-3" href="img/portfolio-item-3.webp">
                        <img class="portfolio__img" src="img/portfolio-item-3.webp" alt="Мастер">
                    </a>
                </div>
                <div class="portfolio__name">Мастер Анна</div>
                <div class="portfolio__work gold">Маникюр</div>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__box-img">
                    <a data-fslightbox="gallery-3" href="img/portfolio-item-4.webp">
                        <img class="portfolio__img" src="img/portfolio-item-4.webp" alt="Мастер">
                    </a>
                </div>
                <div class="portfolio__name">Мастер Мария</div>
                <div class="portfolio__work gold">Укладка</div>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__box-img">
                    <a data-fslightbox="gallery-3" href="img/portfolio-item-5.webp">
                        <img class="portfolio__img" src="img/portfolio-item-5.webp" alt="Мастер">
                    </a>
                </div>
                <div class="portfolio__name">Мастер Ирина</div>
                <div class="portfolio__work gold">маникюр</div>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__box-img">
                    <a data-fslightbox="gallery-3" href="img/portfolio-item-6.webp">
                        <img class="portfolio__img" src="img/portfolio-item-6.webp" alt="Мастер">
                    </a>
                </div>
                <div class="portfolio__name">Мастер Анна</div>
                <div class="portfolio__work gold">Наращивание</div>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__box-img">
                    <a data-fslightbox="gallery-3" href="img/portfolio-item-7.webp">
                        <img class="portfolio__img" src="img/portfolio-item-7.webp" alt="Мастер">
                    </a>
                </div>
                <div class="portfolio__name">Мастер Ирина</div>
                <div class="portfolio__work gold">Маникюр</div>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__box-img">
                    <a data-fslightbox="gallery-3" href="img/portfolio-item-8.webp">
                        <img class="portfolio__img" src="img/portfolio-item-8.webp" alt="Мастер">
                    </a>
                </div>
                <div class="portfolio__name">Мастер Ксения</div>
                <div class="portfolio__work gold">Укладка</div>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__box-img">
                    <a data-fslightbox="gallery-3" href="img/portfolio-item-9.webp">
                        <img class="portfolio__img" src="img/portfolio-item-9.webp" alt="Мастер">
                    </a>
                </div>
                <div class="portfolio__name">Мастер Нина</div>
                <div class="portfolio__work gold">Маникюр</div>
            </div>
        </div>
        <a class="portfolio__btn btn" href="#">Смотреть больше</a>
    </div>
</section>