<section class="reviews">
    <div class="container">
        <h2 class="reviews__title title">Отзыв <span class="gold">клиента</span>
        </h2>
        <div class="reviews__wrapper flex --just-center">
            <div class="reviews__item">
                <div class="reviews__item-inner">
                    <div class="reviews__item-text">Добрый день Ольга. Можете написать отзыв о нашем салоне красоты
                        BONBINO? Все ли вас устроило? Обслуживание, результат?</div>
                    <div class="reviews__item-text reviews__item-text--client">
                        <img class="reviews__item-img" src="img/avatar.webp" alt="Аватар">
                        Салон BONBINO это надёжное, проверенное долгими годами посещений место, ходим сюда всей семьёй и
                        довольны на все 100%. В любом из залов всегда поднимут настроение, выходишь отдохнувший и
                        обязательно красивый.
                    </div>
                    <div class="reviews__item-text">
                        Спасибо за ответ. Мы очень рады, что Вам нравится наш салон. Будем рады видеть снова. Хорошего
                        Вам дня.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>