.varieties {
    padding: 3rem 0;
    background-size: contain;

    &--home {
        background-size: contain !important;

        .varieties__wrapper {
            margin-bottom: 5rem;
        }
    }

    /* .varieties__title */

    &__title {
        text-align: center;
        margin-bottom: 6rem;
    }

    /* .varieties__wrapper */

    &__wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
    }

    /* .varieties__item */

    &__item {
        margin-bottom: 5rem;
        flex-wrap: wrap;

        &--home {
            max-width: 50rem;
            justify-content: center;
            margin: 0;

            @include media(1200px) {
                max-width: 42rem;
            }

            .varieties__item-tilte {
                width: 100%;
                text-align: center;
                span {
                    display: block;
                }

                @include media(425px) {
                    font-size: 1.8rem;
                }
            }

            .varieties__item-slider {
                margin-bottom: 2rem;
            }

            .varieties__box-btn {
                width: 100%;
            }

            .varieties__item-btn {
                max-width: 20rem;
                height: 5rem;

                @include media(1200px) {

                }
            }

            .varieties__slide-item {
                position: relative;
                transition: all 0.3s;

                &::before {
                    content: 'Подробнее';
                    position: absolute;
                    font-size: 2.4rem;
                    color: $accent;
                    width: 100%;
                    height: 100%;
                    backdrop-filter: blur(0.5rem);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-shadow: 1px 1px 2px black;
                    transition: all 0.3s;
                }

                &:hover,
                &:focus-within {
                    transform: scale(1.05);

                    &::before {
                        backdrop-filter: blur(0);
                    }
                }
            }
        }

        @include media(960px) {
            flex-direction: column;
        }
    }

    /* .varieties__item-info */

    &__item-info {
        width: 100%;
        max-width: 67.5rem;

        @include media(1200px) {
            max-width: 44rem;
        }

        @include media(960px) {
            max-width: 100%;
            margin-bottom: 2rem;
        }
    }

    /* .varieties__item-tilte */

    &__item-tilte {
        font-family: 'TrajanPro3';
        font-weight: 400;
        font-size: 3rem;
        margin-bottom: 3rem;

        span {
            font-weight: 700;
            color: #2a2a2a;
        }

        @include media(1200px) {
            font-size: 2.4rem;
            margin-bottom: 1.7rem;
        }

        @include media(960px) {
            text-align: center;
        }
    }

    /* .varieties__item-text */

    &__item-text {
        margin-bottom: 3.5rem;
        line-height: 3rem;

        @include media(1200px) {
            font-size: 1.6rem;
            line-height: 2rem;
            margin-bottom: 0;
        }
    }

    /* .varieties__item-btn */

    &__item-btn {
        max-width: 24rem;
        height: 7rem;

        &--home {
            margin-left: 20rem;

            @include media(960px) {
                margin: 0 auto;
            }
        }
    }

    /* .varieties__item-slider */

    &__item-slider {
        max-width: 48rem;
        padding: 0 5rem;

        & .swiper-navigation {

            .atmosphere__prew {
                transform: translateX(5%);
                z-index: -1;
            }

            .atmosphere__next {
                transform: translateX(-5%);
                z-index: -1;
            }

            .atmosphere__prew:hover {
                transform: translateX(0%);
            }

            .atmosphere__next:hover {
                transform: translateX(0%);
            }
        }

        @include media(960px) {
            margin-bottom: 2rem;
        }

        @include media(425px) {
            padding: 0 2.5rem;

            .swiper-navigation .atmosphere__next,
            .swiper-navigation .atmosphere__prew,
            .swiper-navigation .swiper-button-next,
            .swiper-navigation .swiper-button-prev {
                width: 4rem;
                height: 4rem;

                &::after {
                    border-width: 0.5rem;
                    border-left-width: 1rem;
                    border-right-width: 1rem;
                }
            }
        }
    }

    /* .varieties__slide-item */

    &__slide-item {
        display: block;
        width: 100%;
        max-width: 38rem;
        height: 23rem;
        border-radius: 1.8rem;
        overflow: hidden;

        @include media(425px) {
            height: 15.4rem;
            max-width: 25.6rem;
        }
    }

    &__text {
        max-width: 75rem;
        margin: 0 auto;
        text-align: center;
        line-height: 3rem;


        @include media(1200px) {
            font-size: 1.6rem;
            line-height: 2rem;
        }
    }
}