.questions {
    padding: 4rem 0;
    background-size: contain;

    /* .questions__title */

    &__title {
        text-align: center;
        margin-bottom: 8rem;

        @include media(768px) {
            margin-bottom: 2rem;
        }
    }

    /* .questions__accord */

    &__accord {

        @include media(1200px) {
            flex-direction: column;
        }
    }

    /* .questions__wrapper */

    &__wrapper {
        width: 100%;
        max-width: 53.6rem;

        @include media(1200px) {
            max-width: 100%;
        }
    }

    /* .questions__item */

    &__item {
        display: flex;
        transition: 0.3s;
        height: auto;
        margin-bottom: 3rem;

        &[open] {
            .questions__item-title::after {
                transform: translateY(-50%) rotateX(180deg);
            }
        }

        @include media(1200px) {
            max-width: 100%;
        }
    }

    /* .questions__item-title */

    &__item-title {
        background-color: #f7d17e;
        border-radius: 5px;
        padding: 3rem 2rem;
        position: relative;
        outline: transparent;
        cursor: pointer;
        list-style: none;

        &::-webkit-details-marker {
            display: none
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotateX(0deg);
            right: 3rem;
            width: 1.3rem;
            height: 2.6rem;
            display: block;
            transition: all 0.3s;
        }

        &:hover::after,
        &:focus-within::after {
            transform: translateY(-50%) rotateX(0deg) rotateY(180deg);
            transition: all 1s;
        }

        @include media(768px) {
            padding: 2rem;
        }

        @include media(425px) {
            font-size: 1.4rem;
        }
    }

    /* .questions__item-text */

    &__item-text {
        background-color: #fff;
        padding: 3rem;
        padding-left: 1.8rem;
        border-radius: 0px 0px 1.8rem 1.8rem;
        box-shadow: 12px 21px 35px 0px rgba(14, 14, 14, 0.05);

        @include media(425px) {
            font-size: 1.4rem;
        }
    }
}