.footer {
    background-color: #f3f3f3;
    padding: 6rem 0 4.6rem;
    margin-top: auto;

    /* .footer__top */

    &__top {
        margin-bottom: 4.3rem;
        flex-wrap: wrap;

        @include media(768px) {
            margin-bottom: 2rem;
        }
    }

    /* .footer__logo */

    &__logo {
        color: $accent;
        font-size: 3.6rem;

        @include media(425px) {
            font-size: 2rem;
        }
    }

    /* .footer__adress */

    &__adress {
        display: block;
        padding-left: 3.3rem;
        font-size: 1.4rem;
        position: relative;

        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1.6rem;
            height: 2.2rem;
        }

        &:hover,
        &:focus-visible {
            color: $accent;
        }
    }

    /* .footer__nav */

    &__nav {
        font-size: 1.6rem;

        @include media(1200px) {
            width: 100%;
        }

        @include media(768px) {
            width: auto;
        }

        &--drop {
            width: 100%;
            margin-top: 1rem;

            @include media(1200px){
                order: 3;
            }

            @include media(960px){
                margin: 0;
                .footer__nav-item + .footer__nav-item{
                    margin: 0;
                }
            }

            @include media(768px) {
                width: auto;
            }
        }
    }

    /* .footer__nav-list */

    &__nav-list {
        @include media(1200px) {
            justify-content: center;
            margin: 1rem 0;
        }

        @include media(768px) {
            flex-direction: column;
        }

        &--drop {
            justify-content: space-around;
        }
    }

    /* .footer__nav-item */

    &__nav-item {
        &+& {
            margin-left: 1.7rem;

            @include media(768px) {
                margin: 0;
            }
        }

        @include media(960px) {
            padding: 1rem;
        }

        @include media(768px) {
            width: 100%;
            text-align: center;
        }
    }

    /* .footer__nav-link */

    &__nav-link {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            height: 0.1rem;
            width: 0;
            background-color: $accent;
            bottom: 0;
            right: 0;
            transition: all 0.24s;
        }

        &.active,
        &:hover,
        &:focus-visible {
            color: $accent;
        }

        &:focus-visible {
            &::before {
                width: 100%;
                left: 0;
            }
        }
    }

    /* .footer__box-phone */

    &__box-phone {
        @include media(1200px) {
            margin: 1rem auto 0;
            order: 4;
        }
    }

    /* .footer__phone */

    &__phone {
        display: block;
        position: relative;
        padding-left: 3.2rem;
        font-size: 2.4rem;

        &:hover,
        &:focus-visible {
            color: $accent;
        }

        &:before {
            position: absolute;
            width: 2.1rem;
            height: 2.1rem;
            left: 0;
            background-repeat: no-repeat;
            top: 50%;
            transform: translateY(-50%);
        }

        @include media(1200px) {
            font-size: 2rem;
        }
    }

    /* .footer__bottom */

    &__bottom {
        @include media(768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    /* .footer__bottom-link */

    &__bottom-link {
        font-size: 1.6rem;
        text-decoration: underline;
        color: #c7c5c5;

        &:hover,
        &:focus-visible {
            color: $accent;
        }

        @include media(768px) {
            padding: 1rem;
        }
    }
}