.home {
    margin-bottom: 10rem;
    background-image: none;

    @include media(1200px) {
        margin-bottom: 0;
    }

    /* .home__slider */

    &__slider {
        margin-bottom: 1rem;

        .swiper-slide.swiper-slide-next,
        .swiper-slide.swiper-slide-prev {
            opacity: 0 !important;

            & .home__btn {
                display: none;
            }
        }

        @include media(960) {
            padding-bottom: 3rem;
        }

        @include media(768px) {
            padding-bottom: 6rem;
        }

    }

    /* .home__item-one */

    &__item-one {
        background-image: url(../img/bg-home.webp);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 71.8rem;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 25.5rem;
            background-image: url(../img/cloud.webp);
            bottom: 0;
        }

        @include media(1200px) {
            min-height: 50rem;
        }

        @include media(960px) {
            min-height: 40rem
        }
        
        @include media(768px) {
            min-height: 60rem;
            background-image: url(../img/min-bg-home.webp);
            background-position: bottom;

            &::before {
                content: none;
            }
        }

    }

    /* .home__wrapper */

    &__wrapper {
        position: relative;
    }

    /* .home__box-info */

    &__box-info {
        padding-top: 7.6rem;
        max-width: 52rem;
        position: relative;

        @include media(960px) {
            padding-top: 3.5rem;
        }

        @include media(768px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }

    /* .home__adress */

    &__adress {
        display: block;
        padding-left: 3.3rem;
        font-size: 1.4rem;
        position: relative;
        margin-bottom: 2.5rem;

        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1.6rem;
            height: 2.2rem;
        }

        &:hover,
        &:focus-visible {
            color: $accent;
        }

        @include media(768px) {
            order: 2;
            display: inline-block;
            width: fit-content;
            margin: 0 auto 1.5rem;
        }
    }

    /* .home__title */

    &__title {
        font-size: 4.8rem;
        line-height: 1.5;
        margin-bottom: 2rem;

        @include media(1200px) {
            font-size: 3.5rem;
        }

        @include media(960px) {
            font-size: 2.8rem;
        }

        @include media(768px) {
            order: 1;
        }

        @include media(425px) {}
    }

    /* .home__subtitle */

    &__subtitle {
        line-height: 1.5;
        margin-bottom: 10rem;

        @include media(1200px) {
            margin-bottom: 5rem;
        }

        @include media(960px) {
            font-size: 1.6rem;
        }

        @include media(768px) {
            order: 3;
            margin-bottom: 31.5rem;
        }

        @include media(425px) {
            font-size: 1.2rem;
            margin-bottom: 35rem;
        }
    }

    /* .home__btn */

    &__btn {
        max-width: 35rem;
        height: 10rem;
        margin-left: 2rem;

        @include media(960px) {
            max-width: 30rem;
            height: 8rem;
        }

        @include media(768px) {
            order: 4;
            margin: 0 auto;
        }

        @include media(425px) {
            max-width: 22rem;
            height: 5.8rem;
        }
    }

    /* .home__box-img */

    &__box-img {
        margin-top: 2rem;
        margin-left: auto;

        @include media(960px) {
            max-width: 30rem;
        }

        @include media(768px) {
            position: absolute;
            bottom: 10rem;
            left: 50%;
            transform: translateX(-50%);
            width: 27rem;
        }
    }

    /* .home__item-two */

    &__item-two {
        background-image: url(../img/bg-section.webp);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: space-between;
        min-height: 71.8rem;

        .home__btn {
            margin-left: 0;

            @include media(768px) {
                margin: 0 auto;
            }
        }

        .home__box-img {
            @include media(768px) {
                width: 26rem;
                bottom: 16rem;
            }
        }

        @include media(1200px) {
            min-height: 50rem;
        }

        @include media(960px) {
            min-height: 40rem;
        }
        @include media(768px) {
            min-height: 60rem;

        }
    }

    /* .home__title-two */

    &__title-two {
        margin-top: 7rem;
        margin-bottom: 16rem;
        font-size: 3.6rem;

        @include media(1200px) {
            margin-bottom: 6rem;
        }

        @include media(960px) {
            font-size: 3rem;
            margin-top: 0;
        }

        @include media(768px) {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 45.6rem;
        }

        @include media(425px) {
            margin-bottom: 50rem;
        }
    }

    /* .home__procent */

    &__procent {
        position: absolute;
        right: -10rem;
        top: 18rem;
        font-size: 7.6rem;
        width: 12.1rem;
        line-height: 12.1rem;
        background-color: rgb(246, 207, 122);
        border-radius: 50%;
        text-align: center;

        @include media(1200px) {
            right: -2rem;
            top: 17rem;
            font-size: 5.6rem;
            width: 10rem;
            line-height: 10rem;
        }

        @include media(960px) {
            right: -1rem;
            top: 11rem;
            font-size: 3.5rem;
            width: 7rem;
            line-height: 7rem;
        }

        @include media(768px) {
            right: auto;
            top: 26rem;
            font-size: 2.5rem;
            width: 5rem;
            line-height: 5rem;
        }
    }
}