html {
    box-sizing: border-box;
    font-family: 'Myriad-Pro';
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    position: relative;
}

body {
    font-size: 1.8rem;
	color: $black;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
h2 {
    font-family: "TrajanPro3";
}

button:focus,
input:focus {
    outline: transparent;
}

button {
    @include no-btn;
}

.container {
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

a {
    color: inherit;
	text-decoration: none;
	transition: all 0.3s;
	outline: transparent;
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.--just-space {
    justify-content: space-between;
}

.--just-center {
    justify-content: center;
}

.--just-end {
    justify-content: flex-end;
}

.--align-str {
    align-items: stretch;
}

.--align-center {
    align-items: center;
}

.--align-end {
    align-items: flex-end;
}

.reset {
    margin: 0;
    padding: 0;
    list-style: none;
}