.atmosphere {
    padding: 8rem 0;
    background: url(../img/bg-atmosphere.webp) no-repeat;
    background-size: cover;

    /* .atmosphere__title */

    &__title {
        text-align: center;
        margin-bottom: 9rem;
    }

    /* .atmosphere__wrapper */

    &__wrapper {
        max-width: 108rem;
        position: relative;
        margin: 0 auto;

        .swiper-navigation .atmosphere__next,
        .swiper-navigation .atmosphere__prew {
            top: 35%;
        }
    }

    /* .atmosphere__slider */

    &__slider {
        z-index: 2;
        margin-bottom: 1.5rem;
    }

    /* .atmosphere__min-slider */

    &__min-slider {
        max-width: 68rem;
        z-index: 2;
    }

    /* .atmosphere__modal */

    &__modal {
        width: 100%;
        max-width: 52rem;
        height: 36.5rem;
        display: block;
        overflow: hidden;
        border-radius: 1.5rem;
        border: 0.3rem solid transparent;
        transition: all 0.24s;

        &:hover,
        &:focus-visible {
            border: 0.3rem solid $accent;

            .atmosphere__img {
                transform: scale(1.1);
            }
        }
    }

    /* .atmosphere__min-item */

    &__min-item {
        width: 100%;
        max-width: 14rem;
        height: 9rem;
        border-radius: 1.5rem;
        overflow: hidden;
        cursor: pointer;
    }

    /* .atmosphere__img */

    &__img {
        transition: transform 2s;
    }
}