<header class="header">
    <div class="container">
        <div class="header__wrapper flex --just-space --align-center">
            <div class="header__box-logo">
                <a href="index.html" class="header__logo">BONBINO</a>
            </div>
            <nav class="header__nav">
                <ul class="header__nav-list reset flex">
                    <li class="header__nav-item"><a href="about.html" class="header__nav-link">О нас</a></li>
                    <li class="header__nav-item"><a href="services.html" class="header__nav-link">Услуги</a>
                    <ul class="header__drop-dawn reset">
                        <li class="header__drop-item"><a href="#" class="header__drop-link">Парикмахерские</a></li>
                        <li class="header__drop-item"><a href="#" class="header__drop-link">Ногтевой сервис</a></li>
                        <li class="header__drop-item"><a href="#" class="header__drop-link">Косметология</a></li>
                        <li class="header__drop-item"><a href="#" class="header__drop-link">Наращивание</a></li>
                        <li class="header__drop-item"><a href="#" class="header__drop-link">Визаж</a></li>
                        <li class="header__drop-item"><a href="#" class="header__drop-link">Эпиляция</a></li>
                    </ul>
                </li>
                    <li class="header__nav-item"><a href="masters.html" class="header__nav-link">Мастера</a></li>
                    <li class="header__nav-item"><a href="portfolio.html" class="header__nav-link">Портфолио</a></li>
                    <li class="header__nav-item"><a href="contact.html" class="header__nav-link">Контакты</a></li>
                    <li class="header__nav-item">
                        <div class="header__box-phone">
                            <a href="tel:78765655487" class="header__phone --svg__icon-phone-before">+7 (876)
                                565-54-87</a>
                            <span class="header__schedule">Пн-Пт 9:00-21:00</span>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="header__box-phone">
                <a href="tel:78765655487" class="header__phone --svg__icon-phone-before">+7 (876) 565-54-87</a>
                <span class="header__schedule">Пн-Пт 9:00-21:00</span>
            </div>

            <div class="header__hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>