<header class="header">
    <div class="container">
        <div class="header__wrapper flex --just-space --align-center">
            <div class="header__box-logo">
                <a href="#" class="header__logo">BONBINO</a>
            </div>
            <nav class="header__nav">
                <ul class="header__nav-list reset flex">
                    <li class="header__nav-item"><a href="#" class="header__nav-link">О нас</a></li>
                    <li class="header__nav-item"><a href="#" class="header__nav-link">Услуги</a></li>
                    <li class="header__nav-item"><a href="#" class="header__nav-link">Мастера</a></li>
                    <li class="header__nav-item"><a href="#" class="header__nav-link">Портфолио</a></li>
                    <li class="header__nav-item"><a href="#" class="header__nav-link">Контакты</a></li>
                </ul>
            </nav>
            <div class="header__box-phone">
                <a href="tel:78765655487" class="header__phone --svg__icon-phone-before">+7 (876) 565-54-87</a>
                <span class="header__schedule">Пн-Пт 9:00-21:00</span>
            </div>
        </div>
    </div>
</header>