<section class="article">
    <div class="container">
        <h2 class="article__title title gold">Как ухаживать за кожей лица зимой?</h2>

        <div class="article__box flex">
            <div class="article__box-img">
                <img src="img/article_img_1.webp" alt="Уход за кожей">
            </div>
            <div class="article__box-info">
                <p class="article__text">Помимо вялости, апатии и проблем с иммунитетом зимой можно столкнуться с ещё
                    одной неприятностью — повышенной чувствительностью кожи лица. Из-за резких перепадов температур,
                    пронизывающего холодного ветра и слишком сухого воздуха в отапливаемых помещениях она становится
                    болезненно сухой, стянутой, постоянно шелушится и доставляет немалый дискомфорт.</p>
                <p class="article__text">На холоде кровообращение замедляется, а выработка кожного жира, который
                    защищает кожу от пересыхания и повреждений, снижается. Это приводит к тому, что кожа обезвоживается,
                    становится тусклой и теряет эластичность.</p>
                <p class="article__text">Чтобы избежать всех этих сезонных недоразумений или хотя бы свести их к
                    минимуму, соблюдайте простые советы и рекомендации, перечисленные ниже.</p>
            </div>
        </div>

        <h3 class="article__title title gold">Как ухаживать за кожей изнутри</h3>
        <p class="article__text">Заботиться о коже лица необходимо не только снаружи, при помощи косметических средств,
            но и изнутри, при помощи грамотно сбалансированного рациона. То, что мы пьём и едим, оказывает огромное
            влияние на состояние кожи, поэтому для начала стоит обратить внимание на свои пищевые привычки.</p>

        <h3 class="article__title title gold">Пейте вдоволь воды</h3>
        <p class="article__text">Тело человека в среднем на 70% состоит из воды. Без поддержания водного баланса
            организма невозможно представить его нормальное функционирование. Невозможно вообразить также и то, что кожа
            будет сияющей, увлажнённой и эластичной, если не давать ей чем-то подпитываться изнутри.</p>
        <p class="article__text">Как бы банально это ни звучало, но в первую очередь мы порекомендуем пить чистую воду.
            Сколько, как и когда — решать исключительно вам. Не стоит забывать хотя бы о паре стаканов в день, чтобы
            восполнить недостаток жидкости.</p>

        <h3 class="article__title title gold">Правильный прием душа в холодное время года</h3>
        <p class="article__text">Одним из ключевых моментов для поддержания здоровья кожи зимой является правильный
            прием душа. Горячая вода с наступлением холодов будет не лучшим вариантом. Постарайтесь использовать теплую
            воду, которая поможет сохранить оптимальный гидробаланс кожи после приема душа. Также нужно помнить об
            ограничениях по приему душа зимой. Не стоит проводить под ним больше 7 минут, так как это приведет к
            пересушиванию кожи. После выхода из душа воспользуйтесь увлажняющим кремом, который возвращает баланс влаги.
        </p>
        <div class="article__img">
            <img src="img/article_img_2.webp" alt="Правильный прием душа">
        </div>

        <h3 class="article__title title gold">Следите за питанием</h3>
        <p class="article__text">Здоровое и сбалансированное питание оказывает огромное влияние на состояние кожи,
            поэтому избегайте излишне жирной еды и продуктов с большим содержанием сахара.</p>
        <p class="article__text">Убедитесь, что в вашем рационе содержится достаточно жирных кислот омега-3, которые
            усиливают способность
            кожи к защите от внешних повреждений. Чтобы обеспечить организм этой кислотой, нужно употреблять в пищу
            побольше жирной рыбы (лосось, сардины, палтус, тунец). Если рыба вам не по душе, то можно заменить её
            капсулами рыбьего жира.</p>
        <p class="article__text">Следует также внимательнее присмотреться и к другим продуктам, содержащим омега-3:
            орехам (грецкие, пекан, миндаль и макадамия), маслу (оливковое, льняное, кукурузное, подсолнечное, рапсовое,
            соевое), тофу, тыкве, авокадо, шпинату.</p>

        <h3 class="article__title title gold">Не забывайте о витаминах</h3>
        <p class="article__text">В зимний период ощущается заметная нехватка витаминов в организме, поэтому
            удостоверьтесь, что вы получаете их в должном объёме.</p>
        <p class="article__text">Особенно остро нам недостаёт витамина D, который мы получаем как с пищей, так и при
            воздействии прямых солнечных лучей. Восполнить его недостаток можно с помощью грибов, рыбьего жира, тунца,
            сардин, печени, икры, сливочного масла, сливок, яичного желтка, петрушки.</p>
        <p class="article__text">Однако помните, что перед тем, как начинать употреблять какие-то витамины или пищевые
            добавки, лучше проконсультироваться со специалистом.</p>

    </div>
</section>