<section class="atmosphere">
    <div class="container">
        <h2 class="atmosphere__title title">Атмосфера <span class="gold">нашего</span> салона
        </h2>

        <div class="atmosphere__wrapper">

            <div class="atmosphere__slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="atmosphere__item swiper-slide">
                        <a data-fslightbox="gallery" class="atmospher__modal" href="img/atmosphere-1.webp">
                            <img class="atmosphere__img" src="img/atmosphere-1.webp" alt="Интерьер">
                        </a>
                    </div>
                    <div class="atmosphere__item swiper-slide">
                        <a data-fslightbox="gallery" class="atmospher__modal" href="img/atmosphere-2.webp">
                            <img class="atmosphere__img" src="img/atmosphere-2.webp" alt="Интерьер">
                        </a>
                    </div>
                    <div class="atmosphere__item swiper-slide">
                        <a data-fslightbox="gallery" class="atmospher__modal" href="img/atmosphere-3.webp">
                            <img class="atmosphere__img" src="img/atmosphere-3.webp" alt="Интерьер">
                        </a>
                    </div>
                    <div class="atmosphere__item swiper-slide">
                        <a data-fslightbox="gallery" class="atmospher__modal" href="img/atmosphere-1.webp">
                            <img class="atmosphere__img" src="img/atmosphere-1.webp" alt="Интерьер">
                        </a>
                    </div>
                    <div class="atmosphere__item swiper-slide">
                        <a data-fslightbox="gallery" class="atmospher__modal" href="img/atmosphere-2.webp">
                            <img class="atmosphere__img" src="img/atmosphere-2.webp" alt="Интерьер">
                        </a>
                    </div>
                    <div class="atmosphere__item swiper-slide">
                        <a data-fslightbox="gallery" class="atmospher__modal" href="img/atmosphere-1.webp">
                            <img class="atmosphere__img" src="img/atmosphere-1.webp" alt="Интерьер">
                        </a>
                    </div>
                    <div class="atmosphere__item swiper-slide">
                        <a data-fslightbox="gallery" class="atmospher__modal" href="img/atmosphere-2.webp">
                            <img class="atmosphere__img" src="img/atmosphere-2.webp" alt="Интерьер">
                        </a>
                    </div>
                    <div class="atmosphere__item swiper-slide">
                        <a data-fslightbox="gallery" class="atmospher__modal" href="img/atmosphere-3.webp">
                            <img class="atmosphere__img" src="img/atmosphere-3.webp" alt="Интерьер">
                        </a>
                    </div>
                    <div class="atmosphere__item swiper-slide">
                        <a data-fslightbox="gallery" class="atmospher__modal" href="img/atmosphere-1.webp">
                            <img class="atmosphere__img" src="img/atmosphere-1.webp" alt="Интерьер">
                        </a>
                    </div>
                    <div class="atmosphere__item swiper-slide">
                        <a data-fslightbox="gallery" class="atmospher__modal" href="img/atmosphere-2.webp">
                            <img class="atmosphere__img" src="img/atmosphere-2.webp" alt="Интерьер">
                        </a>
                    </div>
                </div>
            </div>

            <div class="swiper-navigation">
                <div id="atmosphereSwiperNext" class="atmosphere__next"></div>
                <div id="atmosphereSwiperPrev" class="atmosphere__prew"></div>
            </div>

            <div class="atmosphere__min-slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="atmosphere__min-item swiper-slide">
                        <img class="atmosphere__img" src="img/atmosphere-1.webp" alt="Интерьер">
                    </div>
                    <div class="atmosphere__min-item swiper-slide">
                        <img class="atmosphere__img" src="img/atmosphere-2.webp" alt="Интерьер">
                    </div>
                    <div class="atmosphere__min-item swiper-slide">
                        <img class="atmosphere__img" src="img/atmosphere-3.webp" alt="Интерьер">
                    </div>
                    <div class="atmosphere__min-item swiper-slide">
                        <img class="atmosphere__img" src="img/atmosphere-1.webp" alt="Интерьер">
                    </div>
                    <div class="atmosphere__min-item swiper-slide">
                        <img class="atmosphere__img" src="img/atmosphere-2.webp" alt="Интерьер">
                    </div>
                    <div class="atmosphere__min-item swiper-slide">
                        <img class="atmosphere__img" src="img/atmosphere-1.webp" alt="Интерьер">
                    </div>
                    <div class="atmosphere__min-item swiper-slide">
                        <img class="atmosphere__img" src="img/atmosphere-2.webp" alt="Интерьер">
                    </div>
                    <div class="atmosphere__min-item swiper-slide">
                        <img class="atmosphere__img" src="img/atmosphere-3.webp" alt="Интерьер">
                    </div>
                    <div class="atmosphere__min-item swiper-slide">
                        <img class="atmosphere__img" src="img/atmosphere-1.webp" alt="Интерьер">
                    </div>
                    <div class="atmosphere__min-item swiper-slide">
                        <img class="atmosphere__img" src="img/atmosphere-2.webp" alt="Интерьер">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>