<section class="blog">
    <div class="container">
        
        <h2 class="blog__title title gold">Блог</h2>
        <p class="blog__subtitle">Публикации авторов салона «BONBINO» </p>

        <div class="blog__slider swiper-container">

            <div class="blog__wrapper swiper-wrapper">

                <div class="blog__item swiper-slide">
                    <div class="blog__item-box-img">
                        <img src="img/blog_item_img_1.webp" alt="Блог">
                    </div>
                    <h3 class="blog__item-title">Как ухаживать за кожей
                        лица зимой?</h3>
                    <p class="blog__item-text">Пренебрегать особым уходом за кожей в зимнее время — то же самое, что
                        рискнуть прогуляться без пальто и шапки. Идея смелая, но чревата вредными последствиями для
                        здоровья.</p>
                    <a href="#" class="blog__item-link">Читать больше</a>
                </div>

                <div class="blog__item swiper-slide">
                    <div class="blog__item-box-img">
                        <img src="img/blog_item_img_2.webp" alt="Блог">
                    </div>
                    <h3 class="blog__item-title">Как позаботиться о красоте волос летом?</h3>
                    <p class="blog__item-text">Летом важно ухаживать за волосами, так как солнечные лучи, перепады
                        температуры, соленая морская вода неблагоприятно влияют на состояние волос, делая их хрупкими,
                        тусклыми и сухими.</p>
                    <a href="#" class="blog__item-link">Читать больше</a>
                </div>

                <div class="blog__item swiper-slide">
                    <div class="blog__item-box-img">
                        <img src="img/blog_item_img_3.webp" alt="Блог">
                    </div>
                    <h3 class="blog__item-title">Перехоть: причины и как от нее избавится?</h3>
                    <p class="blog__item-text">Мелкие или крупные отшелушивающиеся чешуйки в волосистой части головы
                        называют перхотью. При значительном количестве они осыпаются на одежду
                        вызывая отвращение у окружающих.</p>
                    <a href="#" class="blog__item-link">Читать больше</a>
                </div>

            </div>

            <div class="swiper-navigation">
                <div class="atmosphere__next"></div>
                <div class="atmosphere__prew"></div>
            </div>

            <div class="swiper-pagination"></div>

        </div>
    </div>
</section>