<section class="choose-us">
    <div class="container">
        <div class="choose-us__wrapper flex --just-space">
            <div class="choose-us__box-info">
                <h2 class="choose-us__title title">
                    Почему <span class="gold">выбирают</span> нас
                </h2>
                <p class="choose-us__text">Красота меняет настроение! Привлекательная внешность не только вызывает
                    рассположение окружающих, но и поднимает самооценку человека и придает ему уверенность в себе.
                    Поэтому самый лучший способ улучшить настроение, почувствовать себя настоящей женщиной — это
                    оказаться в красивой и теплой атмосфере нашей «BONBINO», выпить чашечку ароматного кофе и доверить
                    себя профессиональным рукам специалистов салона.</p>
            </div>
            <div class="choose-us__box-img">
                <img class="choose-us__img" src="img/choose-us-women.webp" alt="Девушка">
            </div>
        </div>
    </div>
</section>