<section class="contact">
    <div class="container">
        <h2 class="contact__title title gold">Контакты</h2>
        <div class="contact__wrapper flex --just-space">
            <div class="contact__box-info">
                <p class="contact__info-text">Мы с удовольствием приглашаем Вас посетить наш салон красоты BONBINO,
                    расположенную в престижном районе Москвы на улице Березинская</p>
                <ul class="contact__info-list reset">
                    <li class="contact__info-item"><a href="contact.html"
                            class="contact__info-link --svg__map-before">г. Москва, ул. Березинская, 34</a></li>
                    <li class="contact__info-item"><a href="tel:78765655487"
                            class="contact__info-link --svg__icon-phone-before">+7 (876) 565-54-87</a></li>
                    <li class="contact__info-item"><a href="mailto:bonbino@gmail.com"
                            class="contact__info-link --svg__icon-mail-before">bonbino@gmail.com</a></li>
                </ul>
            </div>
            <div class="contact__box-map">
                <iframe
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A1800739d0c9620c90901c6cf22b10397fc1e7b22c03fedf0125c4e99681c2e26&amp;source=constructor"></iframe>
            </div>
        </div>
    </div>
</section>