<section class="home">
    <div class="home__slider swiper-container">
        <div class="swiper-wrapper">

            <div class="home__item-one swiper-slide">
                <div class="container">
                    <div class="home__wrapper flex">
                        <div class="home__box-info">
                            <a href="contact.html" class="home__adress --svg__map-before">г. Москва, ул. Березинская, 34</a>
                            <h1 class="home__title">
                                САЛОН <span class="gold">КРАСОТЫ</span> ПРЕМИУМ КЛАССА
                            </h1>
                            <p class="home__subtitle">Неповторимая атмосфера салона с лучшими мастерами позволяет получить наслождение от процедур</p>
                            <a href="#" class="home__btn btn">Записаться онлайн</a>
                        </div>
                        <div class="home__box-img">
                            <img src="img/home-women.webp" alt="Девушка">
                        </div>
                    </div>
                </div>
            </div>

            <div class="home__item-two swiper-slide">
                <div class="container">
                    <div class="home__wrapper flex">
                        <div class="home__box-info">
                            <h2 class="home__title-two">Скидка <span class="gold">-30%</span> на макияж</h2>
                            <span class="home__procent">%</span>
                            <a href="#" class="home__btn btn">Записаться</a>
                        </div>
                        <div class="home__box-img">
                            <img src="img/home-women-two.webp" alt="Девушка">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>