<section class="master">
    <div class="container">
        <div class="master__wrapper">
            <h2 class="master__title title"><span class="gold">Мастера </span>салона</h2>
            <div class="master__slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="master__item swiper-slide">
                        <div class="master__box-img">
                            <img src="img/master-item-1.webp" alt="Мастер" class="master__img">
                        </div>
                        <div class="master__item-name">Мишина Ксения</div>
                        <div class="master__item-position">Стилист</div>
                        <a class="master__item-btn btn" href="#">Узнать больше</a>
                    </div>
                    <div class="master__item swiper-slide">
                        <div class="master__box-img">
                            <img src="img/master-item-2.webp" alt="Мастер" class="master__img">
                        </div>
                        <div class="master__item-name">Майкова Мария</div>
                        <div class="master__item-position">Стилист</div>
                        <a class="master__item-btn btn" href="#">Узнать больше</a>
                    </div>
                    <div class="master__item swiper-slide">
                        <div class="master__box-img">
                            <img src="img/master-item-3.webp" alt="Мастер" class="master__img">
                        </div>
                        <div class="master__item-name">Мишина Ксения</div>
                        <div class="master__item-position">Стилист</div>
                        <a class="master__item-btn btn" href="#">Узнать больше</a>
                    </div>
                    <div class="master__item swiper-slide">
                        <div class="master__box-img">
                            <img src="img/master-item-1.webp" alt="Мастер" class="master__img">
                        </div>
                        <div class="master__item-name">Мишина Ксения</div>
                        <div class="master__item-position">Стилист</div>
                        <a class="master__item-btn btn" href="#">Узнать больше</a>
                    </div>
                    <div class="master__item swiper-slide">
                        <div class="master__box-img">
                            <img src="img/master-item-4.webp" alt="Мастер" class="master__img">
                        </div>
                        <div class="master__item-name">Кирова Нина</div>
                        <div class="master__item-position">Мастер макикюра/педикюра</div>
                        <a class="master__item-btn btn" href="#">Узнать больше</a>
                    </div>
                    <div class="master__item swiper-slide">
                        <div class="master__box-img">
                            <img src="img/master-item-5.webp" alt="Мастер" class="master__img">
                        </div>
                        <div class="master__item-name">Костюк Ирина</div>
                        <div class="master__item-position">Мастер макикюра/педикюра</div>
                        <a class="master__item-btn btn" href="#">Узнать больше</a>
                    </div>
                    <div class="master__item swiper-slide">
                        <div class="master__box-img">
                            <img src="img/master-item-6.webp" alt="Мастер" class="master__img">
                        </div>
                        <div class="master__item-name">Гаврилюк Анна</div>
                        <div class="master__item-position">Мастер макикюра/педикюра</div>
                        <a class="master__item-btn btn" href="#">Узнать больше</a>
                    </div>
                    <div class="master__item swiper-slide">
                        <div class="master__box-img">
                            <img src="img/master-item-7.webp" alt="Мастер" class="master__img">
                        </div>
                        <div class="master__item-name">Лазарева Кристина</div>
                        <div class="master__item-position">Врач-косметолог</div>
                        <a class="master__item-btn btn" href="#">Узнать больше</a>
                    </div>
                    <div class="master__item swiper-slide">
                        <div class="master__box-img">
                            <img src="img/master-item-8.webp" alt="Мастер" class="master__img">
                        </div>
                        <div class="master__item-name">Аксенова Людмила</div>
                        <div class="master__item-position">Мастер по наращиванию</div>
                        <a class="master__item-btn btn" href="#">Узнать больше</a>
                    </div>
                    <div class="master__item swiper-slide">
                        <div class="master__box-img">
                            <img src="img/master-item-9.webp" alt="Мастер" class="master__img">
                        </div>
                        <div class="master__item-name">Василенко Милана</div>
                        <div class="master__item-position">Мастер по наращиванию</div>
                        <a class="master__item-btn btn" href="#">Узнать больше</a>
                    </div>
                    <div class="master__item swiper-slide">
                        <div class="master__box-img">
                            <img src="img/master-item-10.webp" alt="Мастер" class="master__img">
                        </div>
                        <div class="master__item-name">Бондоренко Наталья</div>
                        <div class="master__item-position">Визажист</div>
                        <a class="master__item-btn btn" href="#">Узнать больше</a>
                    </div>
                    <div class="master__item swiper-slide">
                        <div class="master__box-img">
                            <img src="img/master-item-11.webp" alt="Мастер" class="master__img">
                        </div>
                        <div class="master__item-name">Литва Анастасия</div>
                        <div class="master__item-position">Мастер эпиляции</div>
                        <a class="master__item-btn btn" href="#">Узнать больше</a>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-navigation">
                <div id="swiperNext" class="swiper-button-next"></div>
                <div id="swiperPrev" class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>