<section class="popup modal-exit" id="modal-one">
    <div class="popup__wrapper">
        <button class="closed modal-exit"></button>
        <h2 class="form__title title">Будьте красивыми вместе с нами</h2>
        <p class="form__subtitle">Заполните форму заявки и запишитесь на любую процедуру
            в удобное для Вас время </p>

        <form action="#" class="form-portfolio__form flex --just-space">

            <input class="form-portfolio__input" type="text" placeholder="Ваше имя">

            <input class="form-portfolio__input" type="tel" placeholder="+7 (_ _ _) _ _ _-_ _-_ _">

            <button class="form-portfolio__btn btn modal-exit" data-modal="modal-two" type="submit">Записаться</button>

            <label class="form__lable" for="check-form-popup">

                <input class="form__checkbox" type="checkbox" id="check-form-popup" required>
                <span class="form__checkbox-style"></span>
                Я принимаю условия
                <a class="form__lable-link" href="#">передачи информации</a>

            </label>
        </form>
    </div>
</section>