<section class="reviews">
    <div class="container">
        <h2 class="reviews__title title">Отзывы <span class="gold">клиентов</span>
        </h2>
        <div class="reviews__wrapper flex --just-space">
            <div class="reviews__item">
                <img class="reviews__img" src="img/reviews-item-1.webp" alt="отзывы">
            </div>
            <div class="reviews__item">
                <img class="reviews__img" src="img/reviews-item-2.webp" alt="отзывы">
            </div>
            <div class="reviews__item">
                <img class="reviews__img" src="img/reviews-item-3.webp" alt="отзывы">
            </div>
        </div>
    </div>
</section>