<section class="services">
    <div class="container">
        <h2 class="services__title title">наши <span class="gold">услуги</span>
        </h2>

        <div class="services__wrepper flex --just-space">

            <div class="services__item">
                <div class="services__box-img">
                    <img src="img/services-item-1.webp" alt="Парикмахерские" class="services__img">
                    <span class="services__img-text">Парикмахерские</span>
                </div>
                <div class="services__info-price">от 800 р</div>
                <div class="services__info-text">Стрижка, укладка, окрашивание organic, лечебные процедуры,
                    выпрямление </div>
                <a class="services__info-btn btn" href="#">Подробнее</a>
            </div>

            <div class="services__item">
                <div class="services__box-img">
                    <img src="img/services-item-2.webp" alt="Ногтевой сервис" class="services__img">
                    <span class="services__img-text">Ногтевой сервис</span>
                </div>
                <div class="services__info-price">от 500 р</div>
                <div class="services__info-text">Маникюр, педикюр, уходы, коррекция ногтей, покрытие,
                    дизайн, снятие, удаление </div>
                <a class="services__info-btn btn" href="#">Подробнее</a>
            </div>

            <div class="services__item">
                <div class="services__box-img">
                    <img src="img/services-item-3.webp" alt="Косметология" class="services__img">
                    <span class="services__img-text">Косметология</span>
                </div>
                <div class="services__info-price">от 800 р</div>
                <div class="services__info-text">Инъекционная косметология,
                    аппаратная косметология, уходы,
                    пиллинги, чистки, массаж </div>
                <a class="services__info-btn btn" href="#">Подробнее</a>
            </div>

            <div class="services__item">
                <div class="services__box-img">
                    <img src="img/services-item-4.webp" alt="Наращивание" class="services__img">
                    <span class="services__img-text">Наращивание</span>
                </div>
                <div class="services__info-price">от 800 р</div>
                <div class="services__info-text">Окрашивание, коррекция бровей,
                    снятие нарощенных ресниц </div>
                <a class="services__info-btn btn" href="#">Подробнее</a>
            </div>

            <div class="services__item">
                <div class="services__box-img">
                    <img src="img/services-item-5.webp" alt="Визаж" class="services__img">
                    <span class="services__img-text">Визаж</span>
                </div>
                <div class="services__info-price">от 800 р</div>
                <div class="services__info-text">Окрашивание, коррекция бровей,
                    снятие нарощенных ресниц </div>
                <a class="services__info-btn btn" href="#">Подробнее</a>
            </div>

            <div class="services__item">
                <div class="services__box-img">
                    <img src="img/services-item-6.webp" alt="Эпиляция" class="services__img">
                    <span class="services__img-text">Эпиляция</span>
                </div>
                <div class="services__info-price">от 1000 р</div>
                <div class="services__info-text">Лицо, бикини, руки, ноги,
                    торс </div>
                <a class="services__info-btn btn" href="#">Подробнее</a>
            </div>


        </div>
    </div>
</section>